__pycache__
__pycache__/
data/
next_run.json
results
results/
network/
test/
.test_cache/
*/jaxfluids.egg-info
tensorboard/
*.dat
*.tex
*.mp4
# build
dist
# jaxfluids*.rst
.DS_Store
.ipynb_checkpoints
.vscode
*.tar
*wandb*
*.slurm
*.o*
*.e*
requirements.txt
*.tar.gz
Network
figs
*.ipynb
.ipynb_checkpoints